body {
  background-color: #f4f7fb;
}

.app {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.item {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  font-size: small;
}

.form {
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.flex-grow {
  flex: 1;
}

.label {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}

.error {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0000;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.submit {
  margin-top: 10px;
  margin-left: 10px;
}

.relative {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.select {
  width: 150px;
}

.input {
  width: calc(100% - 5px);
}

.textarea {
  width: calc(100% - 5px);
}
