body {
  background-color: #f4f7fb;
}

.app {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.item {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.description {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.form {
  position: relative;
}

.error {
  display: block;
  color: #ff0000;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.submit {
  margin-top: 10px;
  margin-left: 10px;
}

.update {
  margin-top: 10px;
}

.input {
  width: calc(100% - 5px);
}
